name: Build Addon
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: 8.10.2

      - name: Build with Gradle
        run: |
          if [ -f gradlew ]; then
            chmod +x gradlew
            ./gradlew build --no-daemon
          else
            gradle build --no-daemon
          fi

      - name: Upload Finished Jar
        uses: actions/upload-artifact@v4
        with:
          name: Meteor-ItemTracer-Jar
          path: build/libs/*.jar
          
